# Ignore node_modules, it will be installed inside the container
node_modules

# Ignore local environment files and logs
.env
npm-debug.log

# Ignore Docker and git files
Dockerfile
.dockerignore
.git
.gitignore